
.resultGeneric {
    font-size: 20px;
}

.resultSum {
    color: rgb(33, 2, 143);
}

.resultRest {
    color: rgb(238, 13, 13);
}

.resultDiv {
    color: rgb(141, 1, 134);
}

.resultProd {
    color: rgb(30, 99, 9);
}

.resultExp {
    color: deeppink;
}

.resultSqrt {
    color: teal;
}

.resultCbrt {
    color: darkgoldenrod;
}
